pandas
xlrd
openpyxl
tqdm
matplotlib
seaborn
scipy
scikit-learn
tensorflow
tensorflow-datasets
neural-tangents

--find-links https://storage.googleapis.com/jax-releases/jax_releases.html
jax
jaxlib==0.1.67+cuda102
